<div class="blog-main">
  <div class="sidebar-module sidebar-module-inset">

    <h3>{{pageTitle}}</h3>
    <hr>

    <div>
      <form
        novalidate
        (ngSubmit)="savePregunta()"
        [formGroup]="preguntaForm">


        <fieldset>
          <div class="form-group row"
               [ngClass]="{'has-danger': displayMessage.descripcion}">
            <label class="col-md-2 control-label" for="descripcionPreguntaId">Descripción</label>

            <div class="col-md-6">
             <textarea class="form-control"
                       id="descripcionPreguntaId"
                       placeholder="Descripcion"
                       rows=3
                       formControlName="descripcion"></textarea>
              <span class="help-block" *ngIf="displayMessage.descripcion">
                                {{displayMessage.descripcion}}
                        </span>
            </div>
          </div>

          <div class="form-group row"
               [ngClass]="{'has-error': displayMessage.estado}">
            <label class="col-md-2 control-label" for="estadoId">Estado</label>

            <div class="col-md-8">
              <input class="form-control"
                     id="estadoId"
                     type="text"
                     placeholder="Estado (required)"
                     formControlName="estado"/>
              <span class="help-block" *ngIf="displayMessage.estado">
                                {{displayMessage.estado}}
                        </span>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': displayMessage.grupoPregunta}">
            <label class="col-md-2 control-label" for="grupoPreguntafId">Grupo de pregunta</label>

            <div class="col-md-8">
              <!--<input class="form-control"-->
              <!--id="grupoPreguntafId"-->
              <!--type="text"-->
              <!--placeholder="Grupo de pregunta"-->
              <!--formControlName="grupoPregun"/>-->
              <select class="custom-select form-control" id="grupoPreguntafId" formControlName="grupoPregun">
                <option *ngFor="let grupo of grupos" [value]="grupo.grupoPreguntaId">{{grupo.descripcion}}</option>
              </select>
              <span class="help-block" *ngIf="displayMessage.grupoPregunta">
                                {{displayMessage.grupoPregunta}}
                        </span>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': displayMessage.dependencia}">
            <label class="col-md-2 control-label" for="dependenciafId">Dependencia</label>

            <div class="col-md-8">
              <input class="form-control"
                     id="dependenciafId"
                     type="text"
                     placeholder="Dependencia"
                     formControlName="dependencia"/>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': displayMessage.texto}">
            <label class="col-md-2 control-label" for="textofId">Texto</label>

            <div class="col-md-8">
              <input class="form-control"
                     id="textofId"
                     type="text"
                     placeholder="Texto"
                     formControlName="texto"/>
            </div>
          </div>
          <div class="form-group row"
               [ngClass]="{'has-danger': displayMessage.tipoPregunta}">
            <label class="col-md-2 control-label" for="tipoPreguntafId">Tipo de pregunta</label>

            <div class="col-md-8">
              <select class="custom-select form-control" id="tipoPreguntafId" formControlName="tipoPregun">
                <option *ngFor="let tipo of tipos" [value]="tipo.tipoPreguntaId">{{tipo.descripcion}}</option>
              </select>
              <span class="form-control-feedback" *ngIf="displayMessage.tipoPregunta">
                                {{displayMessage.tipoPregunta}}
                        </span>
            </div>
          </div>
          <div *ngIf="unicaRespuesta">
            <button class="btn btn-primary"
                    type="submit"
                    style="width:80px;margin-right:10px" (click)="addOpcion()">Agregar opciones de respuesta
            </button>
            <div class="form-control" formArrayName="opciones">
              <div *ngFor="let respuesta of opciones.controls; let i=index">
                <div [formGroupName]="i">
                  <!--<h4>Opcion {{ i + 1 }}</h4>-->
                  <!--<span>{{i+1}}</span>-->
                  <label class="col-md-1 control-label" attr.for="{{'opcion1Id' + i}}">{{i+1}}</label>
                  <input class="col-md-8"
                         type="text"
                         placeholder="Descripcion"
                         id="{{'opcion1Id' + i}}"
                         formControlName="descripcion"/>
                  <input type="radio" name="" id="{{'opcion1Id' + i}}" formControlName="clave" name="clave" [value]="i">
                  <button class="btn btn-danger" (click)="eliminarOpcion(i)">Eliminar</button>
                </div>
              </div>
            </div>

          </div>
          <div *ngIf="seleccionMultiple">
            <p>Seleccion multiple</p>
          </div>
          <div *ngIf="listDespl">
            <p>Lista desplegable</p>
          </div>

          <div class="form-group row">
            <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    style="width:80px;margin-right:10px"
                                    [disabled]='!preguntaForm.valid'>
                                Save
                            </button>
                        </span>
              <span>
                            <a class="btn btn-default"
                               style="width:80px"
                               [routerLink]="['/preguntas']">
                                Cancel
                            </a>
                        </span>
              <span>
                            <a class="btn btn-default"
                               style="width:80px"
                               (click)="deletePregunta()">
                                Delete
                            </a>
                        </span>
            </div>
          </div>
        </fieldset>
      </form>
      <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
      <p>preguntaForm value: {{ preguntaForm.value | json}}</p>
    </div>

  </div>
</div>
