<div class="blog-main">
  <div class="sidebar-module sidebar-module-inset">

    <h3>{{pageTitle}}</h3>
    <hr>

    <div >
      <form
            novalidate
            (ngSubmit)="saveProduct()"
            [formGroup]="preguntaForm">


        <fieldset>
          <div class="form-group row"
               [ngClass]="{'has-danger': displayMessage.descripcionPregunta }">
            <label class="col-md-2 control-label" for="descripcionPreguntaId">Descripción</label>

            <div class="col-md-6">
             <textarea class="form-control"
                       id="descripcionPreguntaId"
                       placeholder="Descripcion"
                       rows=3
                       formControlName="descripcionPregunta"></textarea>
              <span class="help-block" *ngIf="displayMessage.descripcionPregunta">
                                {{displayMessage.descripcionPregunta}}
                        </span>
            </div>
          </div>

          <div class="form-group row"
               [ngClass]="{'has-error': displayMessage.estado}">
            <label class="col-md-2 control-label" for="estadoId">Estado</label>

            <div class="col-md-8">
              <input class="form-control"
                     id="estadoId"
                     type="text"
                     placeholder="Estado (required)"
                     formControlName="estado"/>
              <span class="help-block" *ngIf="displayMessage.estado">
                                {{displayMessage.estado}}
                        </span>
            </div>
          </div>

          <div class="form-group row"
               [ngClass]="{'has-danger': displayMessage.tipoPregunta}">
            <label class="col-md-2 control-label" for="tipoPreguntafId">Tipo de pregunta</label>

            <div class="col-md-8">
              <input class="form-control has-danger"
                     id="tipoPreguntafId"
                     type="text"
                     placeholder="Tipo de pregunta"
                     formControlName="tipoPregunta"/>
              <span class="form-control-feedback" *ngIf="displayMessage.tipoPregunta">
                                {{displayMessage.tipoPregunta}}
                        </span>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': displayMessage.grupoPregunta}">
            <label class="col-md-2 control-label" for="grupoPreguntafId">Grupo de pregunta</label>

            <div class="col-md-8">
              <input class="form-control"
                     id="grupoPreguntafId"
                     type="text"
                     placeholder="Grupo de pregunta"
                     formControlName="grupoPregunta"/>
              <span class="help-block" *ngIf="displayMessage.grupoPregunta">
                                {{displayMessage.grupoPregunta}}
                        </span>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': displayMessage.dependencia}">
            <label class="col-md-2 control-label" for="dependenciafId">Dependencia</label>

            <div class="col-md-8">
              <input class="form-control"
                     id="dependenciafId"
                     type="text"
                     placeholder="Dependencia"
                     formControlName="dependencia"/>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': displayMessage.texto}">
            <label class="col-md-2 control-label" for="textofId">Texto</label>

            <div class="col-md-8">
              <input class="form-control"
                     id="textofId"
                     type="text"
                     placeholder="Texto"
                     formControlName="texto"/>
            </div>
          </div>
          <div class="form-group row has-danger">
            <label for="inputHorizontalDnger" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-danger" id="inputHorizontalDnger" placeholder="name@example.com">
              <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    style="width:80px;margin-right:10px"
                                    [disabled]='!preguntaForm.valid'>
                                Save
                            </button>
                        </span>
              <span>
                            <a class="btn btn-default"
                               style="width:80px"
                               [routerLink]="['/preguntas']">
                                Cancel
                            </a>
                        </span>
              <span>
                            <a class="btn btn-default"
                               style="width:80px"
                               (click)="deleteProduct()">
                                Delete
                            </a>
                        </span>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="container">
        <form>
          <div class="form-group row has-success">
            <label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-success" id="inputHorizontalSuccess" placeholder="name@example.com">
              <div class="form-control-feedback">Success! You've done it.</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div>
          </div>
          <div class="form-group row has-warning">
            <label for="inputHorizontalWarning" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-warning" id="inputHorizontalWarning" placeholder="name@example.com">
              <div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div>
          </div>
          <div class="form-group row has-danger">
            <label for="inputHorizontalDnger" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-danger" id="inputHorizontalDnger" placeholder="name@example.com">
              <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div>
          </div>
        </form>
      </div>
      <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>

  </div>
</div>
